.img1 {
  display: block;
  background-color: lightskyblue;
  padding: 20px;
  border: 15px solid red;
}
.img2 {
  display: block;
  background-color: lightskyblue;
  padding: 20px;
  border: 15px solid red;
  margin-left: 190px;
}
.img3 {
  background-color: lightskyblue;
  padding: 20px;
  border: 15px solid red;
  margin-left: 380px;
}
